/* styles.css */
@import "tailwindcss";

@layer base {
  :root {
    --font-5xl: 2.8rem;
  }
}

@layer utilities {
  .text-5xl-custom {
    font-size: var(--font-5xl);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --amber: #ff4f00;
    --bgHover: #e7e5e5;
    --bgHoverPrimary: #cc3f00;
  }
}

body {
  background-color: #fdf7f2;
}
